/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


.form-group span {
    font-size: 15px;
}


.login {
    margin-bottom: 50px;
}

.LoginGrid {
    margin-top: 50px;
}

input.LOGINFORM {
    height: 50px;
    border: solid 1px #ccc !important;
    outline: none;
    box-shadow: none !important;
    border-radius: 4px !important;
}

    input.LOGINFORM:focus {
        outline: none; /* Remove default outline and use border or box-shadow */
        border: solid 1px #65ade4 !important; /* Full freedom. (works also with border-radius) */
        box-shadow: 2px 2px 16px -7px #65ade4 !important;
        border-radius: 2px;
    }

span.text-danger {
    font-size: 12px;
}

#btnLogin {
    height: 40px;
    background-color: #de2951;
    color: white;
    border-radius: 4px;
    font-weight: 600;
}

    #btnLogin:hover {
        background-color: #c41f44;
        color: whitesmoke;
    }

.yaillo-login-logo {
    height: 80px;
    width: 145px;
}